body {
    opacity: 0.85;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.card-header {
    color: white;
    font-family: 'Hanalei Fill', cursive;
    background-color: rgb(158, 72, 50);
    font-size: 1.2em;
}



.card {
    box-shadow: 0px 2px 2px rgb(43, 41, 41);
    background: rgb(250, 232, 198);
    border: none;
    border-radius: 10px;
    
}

.h5, h5 {
    font-size: 1.8em;
}

.form-control {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
}



.col-4 img{
    width:100%;
}

.img-bio > img{
    float: left;
    margin-right: 10px;
}

.art-bio {
    margin-left: 5px;
}

.merch-title{
    font-weight: 700;
}

.merch-link:hover {
    font-weight: bold;
    
}

.merch-link {
    position: absolute;
    bottom: 0;
    left: 30%;
}


.merch-image {
    text-shadow: 5px    5px gray;
    
}

#artist-request{
    font-size: 1.2rem;
}

#art-div{
    font-size: 14px;
}

#new-artist-div > .row{
    display: flex;
    align-items: center;
}

#merch-container-id {
    text-align: center;
    max-width: 100%;

}




/*
@media screen max-width: 640px
*/
@media screen and (max-width: 640px) {

    #hide-if-mobile {
        visibility: hidden;
        overflow: hidden;
        width: 0px;
        height: 0px;
    }

    #keep-hidden {
        visibility: visible;
        width: 100%;
        height: 100%;

    }

    .col-4 img {
        width: 120%;
    }

    .art-bio{
        font-size: .8em;
    }
    #new-artist-div {
        font-size: 10px;
    }
    #new-artist-div2 {
        font-size: 10px;
    }
    .merch-title {
        font-size: 10px;
        margin-top: 13px;
    }

    .h6, h6{
        font-size: 14px;
    }

    .h5, h5{
        font-size: 22px;
    }
    
    .merch-price {
        font-size: 10px;
    }

    .merch-link {
        position: initial;
        bottom: 0;
        left: 30%;
    }

    .merch-items > img{
        height: 55%;
    }

    
}

#wtjnavbar > img {
    width: 100%;
}